* {
    box-sizing: border-box;
}
  
body {
    margin: 0;

    background-color: #EAEEEF;
    
 
   





}
  h1 {
    
  color: #A6D2DB;

  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left middle;
  font-size:300%;
    text-indent: 300px;
      text-decoration: underline;
    




  }

  

  
  
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #A6D2DB;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:300%;
}

  
  /* Style the topnav links */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 113px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: (234,238,239);
    color: rgb(23, 72, 78);
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 450px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  h2 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  color: #A6D2DB;





  }


  p { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  color: #A6D2DB;




  }

  .container {
    position: top left;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: top left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f100;
    color: rgba(0, 0, 0, 0);
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    float: inline-start;
  }
  
  .container .btn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
  }